body { /*
    background-color: #75E6DA; */
    background-image: url('usa.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.no-display {
    display: none;
}

.detail {
    color: white;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
    font-size: 20px;
}

.center {
    margin: auto;
    padding: 7px 50px;
    text-align: center;
    font-size: 16px;
    font-family: "Comic Sans MS";
}

.title {
    font-size: 50px;
    margin-top: 1em;
    margin-bottom: 0.5cm;
    color: white;
    font-family: "Impact";
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}

.content {
    margin-top: 8em;
}

.analyze {
    margin-top: 2em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 14px
    color: white;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
    ;
}

button.generate-button {
    width: 200px;
    height: 40px;
    border: solid 2px #000000;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-size: 17px;
    color: #000000;
    font-weight: bold;
}

button:focus {
    outline: 0;
}
